<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'myconf.css' %}">
        <title>Módulo Refeitório</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
            <div class="container-fluid">

                <img src="{% static 'refeicao.png'%}" alt="" width="6%">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/home/funcionario/#" target="_self">Funcionário</a>
                                <a class="dropdown-item" href="/home/visitante/#" target="_self">Visitantes</a>
                                <a class="dropdown-item" href="/home/equipamento/#" target="_self">Equipamentos</a>
                                <a class="dropdown-item" href="/home/refeicao/#" target="_self">Refeições</a>
                                <a class="dropdown-item" href="#" target="_self">Grupos de Refeições</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/home/relatorio/monitoramento/#" target="_self">Monitoramento</a>
                                <a class="dropdown-item" href="/home/relatorio/refeicoes/#" target="_self">Refeições</a>
                                <a class="dropdown-item" href="/home/relatorio/tot_func/#" target="_self">Totalizado por Funcionario</a>
                                <a class="dropdown-item" href="/home/relatorio/tot_refeicao/#" target="_self">Totalizado por Refeição</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configurações</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/home/configuracoes/logins/#">Logins</a>
                                <a class="dropdown-item" href="#">Permissões</a>
                                <a class="dropdown-item" href="/home/configuracoes/modelos/#" target="_self">Modelo Refeições</a>
                                <a class="dropdown-item" href="#">Créditos Refeições</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajuda</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/home/ajuda/sobre/#" target="_self">Sobre</a>
                            </div>
                        </li>
                         <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sair</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout" target="_self">Sair</a>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>

        <script src="{% static 'scripts.js' %}"></script>

        <form method="post" class="grupo_ref" name="grupo_ref">
            <section class="boxGrupoRefeicao container"></section>
            <div class="padding" style="text-align: center;">
            <table class="tabela_grupo_ref">
            <h1 class="refeicao_h1">Cadastro de Grupo de Refeições</h1>
            {% csrf_token %}
            <section class="boxGrupoRefeicao container"></section>
                <div class="grupo_refeicao_div" >
                <tr style="text-align: center;">
                    <td>
                        <input class="form-control" name="id_grup_ref" maxlength="10" id="id_grup_ref" placeholder="Id" style="padding:1.5rem 11.5rem; text-align: center;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" name="nome" maxlength="100" id="nome" placeholder="Nome" style="padding:1.5rem 11.5rem; text-align: center;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input">
                        <input type="hidden" readonly id="form.ref" name="ref" value="1" required>
                        </div>
                    </td>
                </tr>
                 <tr>
                     <td>
                         <h5 class="grupo_ref_h5">Tipos de Refeição</h5>
                     </td>
                 </tr>
                <tr>
                    <td>

                        <select multiple="" class="form-select" id="tipos_refeicao" nome ="tipos_refeicao" required value={{form.ref}}
                               {% for g in refeicao %}
                                    <option> {{g.nome}} </option>
                               {%endfor%}
                        </select>

                    </td>
                </tr>
            <br>
            <br>
                </div>
            </table>

            <br>
            <br>
            <button type="incluir" value="incluir" name="incluir" class="btn btn-outline-success">Incluir</button>
            <button type="alterar" value="alterar" name="alterar" class="btn btn-outline-warning">Alterar</button>
            <button type="excluir" value="excluir" name="excluir" class="btn btn-outline-danger">Excluir</button>
            <button type="consulta" value="consultar" name="consultar" class="btn btn-primary btn-sm">Consultar</button>
        </form>
    </body>
</html>