@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root,
[data-bs-theme=light] {
  --bs-blue: #378dfc;
  --bs-indigo: #6610f2;
  --bs-purple: #5b62f4;
  --bs-pink: #d63384;
  --bs-red: #e52527;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #43cc29;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #7f8a99;
  --bs-gray-dark: #444b40;
  --bs-gray-100: #f0f5fa;
  --bs-gray-200: #d9e3f1;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #bed1e6;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #7f8a99;
  --bs-gray-700: #7b8ab8;
  --bs-gray-800: #444b40;
  --bs-gray-900: #212529;
  --bs-primary: #378dfc;
  --bs-secondary: #d9e3f1;
  --bs-success: #43cc29;
  --bs-info: #5b62f4;
  --bs-warning: #ffc107;
  --bs-danger: #e52527;
  --bs-light: #f0f5fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 55, 141, 252;
  --bs-secondary-rgb: 217, 227, 241;
  --bs-success-rgb: 67, 204, 41;
  --bs-info-rgb: 91, 98, 244;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 229, 37, 39;
  --bs-light-rgb: 240, 245, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #163865;
  --bs-secondary-text-emphasis: #575b60;
  --bs-success-text-emphasis: #1b5210;
  --bs-info-text-emphasis: #242762;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #5c0f10;
  --bs-light-text-emphasis: #7b8ab8;
  --bs-dark-text-emphasis: #7b8ab8;
  --bs-primary-bg-subtle: #d7e8fe;
  --bs-secondary-bg-subtle: #f7f9fc;
  --bs-success-bg-subtle: #d9f5d4;
  --bs-info-bg-subtle: #dee0fd;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #fad3d4;
  --bs-light-bg-subtle: #f8fafd;
  --bs-dark-bg-subtle: #bed1e6;
  --bs-primary-border-subtle: #afd1fe;
  --bs-secondary-border-subtle: #f0f4f9;
  --bs-success-border-subtle: #b4eba9;
  --bs-info-border-subtle: #bdc0fb;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f5a8a9;
  --bs-light-border-subtle: #d9e3f1;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #7b8ab8;
  --bs-body-color-rgb: 123, 138, 184;
  --bs-body-bg: #d9e3f1;
  --bs-body-bg-rgb: 217, 227, 241;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(123, 138, 184, 0.75);
  --bs-secondary-color-rgb: 123, 138, 184;
  --bs-secondary-bg: #d9e3f1;
  --bs-secondary-bg-rgb: 217, 227, 241;
  --bs-tertiary-color: rgba(123, 138, 184, 0.5);
  --bs-tertiary-color-rgb: 123, 138, 184;
  --bs-tertiary-bg: #f0f5fa;
  --bs-tertiary-bg-rgb: 240, 245, 250;
  --bs-heading-color: #485785;
  --bs-link-color: #485785;
  --bs-link-color-rgb: 72, 87, 133;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #3a466a;
  --bs-link-hover-color-rgb: 58, 70, 106;
  --bs-code-color: #d63384;
  --bs-highlight-color: #7b8ab8;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 0;
  --bs-border-style: solid;
  --bs-border-color: rgba(55, 94, 148, 0.1);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(55, 94, 148, 0.2);
  --bs-box-shadow-lg: 8px 8px 40px rgba(0, 0, 0, 0.15);
  --bs-box-shadow-inset: inset 2px 2px 8px rgba(55, 94, 148, 0.3), inset -3px -2px 5px rgba(255, 255, 255, 0.8);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(55, 141, 252, 0.25);
  --bs-form-valid-color: #43cc29;
  --bs-form-valid-border-color: #43cc29;
  --bs-form-invalid-color: #e52527;
  --bs-form-invalid-border-color: #e52527;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #444b40;
  --bs-secondary-bg-rgb: 68, 75, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #333835;
  --bs-tertiary-bg-rgb: 51, 56, 53;
  --bs-primary-text-emphasis: #87bbfd;
  --bs-secondary-text-emphasis: #e8eef7;
  --bs-success-text-emphasis: #8ee07f;
  --bs-info-text-emphasis: #9da1f8;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ef7c7d;
  --bs-light-text-emphasis: #f0f5fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #0b1c32;
  --bs-secondary-bg-subtle: #2b2d30;
  --bs-success-bg-subtle: #0d2908;
  --bs-info-bg-subtle: #121431;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2e0708;
  --bs-light-bg-subtle: #444b40;
  --bs-dark-bg-subtle: #222620;
  --bs-primary-border-subtle: #215597;
  --bs-secondary-border-subtle: #828891;
  --bs-success-border-subtle: #287a19;
  --bs-info-border-subtle: #373b92;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #891617;
  --bs-light-border-subtle: #7b8ab8;
  --bs-dark-border-subtle: #444b40;
  --bs-heading-color: inherit;
  --bs-link-color: #87bbfd;
  --bs-link-hover-color: #9fc9fd;
  --bs-link-color-rgb: 135, 187, 253;
  --bs-link-hover-color-rgb: 159, 201, 253;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #7b8ab8;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #8ee07f;
  --bs-form-valid-border-color: #8ee07f;
  --bs-form-invalid-color: #ef7c7d;
  --bs-form-invalid-border-color: #ef7c7d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
/*
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

*/

--testes com o css login

.boxLogin {
    padding:5em 1;
    background-color: var(--bs-body-bg);

}
.boxLogin .content { padding:0.5em; }
.login  {
    width:100%;
    -- overflow: hidden;
    margin:auto;
    display:inherit;
    background-color:#fff;
    border-radius:4px;
    box-shadow: 1px 0px 3px 0px #cbcbcb;
}
.login h1 {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    -- border-bottom:1px #0085d5 solid;
    padding:0.5em;
    background-color:#dee2e6;
    color:black;
    margin:auto;
}

.login .padding {
    padding:10.5em;
    float:left;
    background: translucent;
    border: 3px black;
}

.login label {
    width: 100%;
    float: left;
    margin-bottom: 1em;
    color: black;
    background: transparent;
}
.login .campos {
    border-top:1px transparent solid;
    border-left:1px transparent solid;
    border-bottom:12px transparent solid;
    border-right:0px transparent solid;
    color:#414141;
    font-family:'open_sansregular';
    font-size:0.9em;
    outline:none;
    padding: 0.5em 0em;
    transition:0.4s;
}
.login .campos:focus {
    border-top:1px transparent solid;
    border-left:1px transparent solid;
    border-bottom:1px #0085d5 solid;
    border-right:1px transparent solid;
    color:#0085d5;
}
.login .btn {
    width:auto;
    float:right;
    padding:0.4em 5.3em;
    font-family:'open_sansregular';
    font-size:2em;
    background-color:#dee2e6;
    -- color:#fff;
    border:0;
    border-radius:4px;
    transition:0.4s;
    border-top:5em;

}

.login .tabela {
    background-color: #0085d5;
}



.login .btn:hover  {
    background-color: var(--bs-cyan);

}



.login .form-control {
    -- display: block;
    width: 100%;
    padding: 1.5rem 11.0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f5fa;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom:10px var(--bs-body-bg);

}
/*Responsivo*/
/*480PX BREAKPOINT*/
@media (min-width:30em){
.login  { width:50%; }
}
/*768PX BREAKPOINT*/
@media (min-width:48em){
.login  { width:35%; }
.login .linksForm a { font-size:0.9em; }

/*Equipamento*/



.equipamento .tabela {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    -- border-bottom:1px #0085d5 solid;
    padding:0.5em;
    background-color:#dee2e6;
    color:black;
    margin: auto;
}

equipamento .padding {
    background-color: red;

}

.equipamento .equip_h1 {
         font-size: 4.5rem;
        text-align: center;
        padding-top: 4rem;

}

.equipamento .form-control {
    -- display: block;
    width: 100%;
    padding: 1.5rem 11.0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f5fa;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom:10px var(--bs-body-bg);
    text-align: center;

}

/* Refeicao */


.refeicao .tabela_ref {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    -- border-bottom:1px #0085d5 solid;
    padding:0.5em;
    background-color:#dee2e6;
    color:black;
    margin: auto;
}

.refeicao .padding {
    text-align: center;

}

.refeicao .refeicao_h1 {
         font-size: 4.5rem;
        text-align: center;
        padding-top: 4rem;

}

.refeicao .form-control {
    -- display: block;
    width: 100%;
    padding: 1.5rem 11.0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f5fa;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom:10px var(--bs-body-bg);
    text-align: center;

}

/* Grupo de Refeicao */


.grupo_ref .tabela_grupo_ref {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    padding:0.5em;
    background-color: var(--bs-body-bg);
    color:black;
    margin: auto;
}

.grupo_ref .padding {
    text-align: center;

}

.grupo_ref .refeicao_h1 {
         font-size: 4.5rem;
        text-align: center;
        padding-top: 4rem;
 }

 .grupo_ref .grupo_ref_h5 {
         font-size: 1.5rem;
        text-align: center;
        background-color: transparent;
        margin: auto;


.grupo_ref .form-control_gr {
    -- display: block;
    width: 100%;
    padding: 1.5rem 11.0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f5fa;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom:10px var(--bs-body-bg);
    text-align: center;

}

/* Funcionario */


funcionario .tabela {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    padding:0.5em;
    background-color: var(--bs-body-bg);
    color:black;
    margin: auto;
}

funcionario .padding_fn {
    text-align: center;

}

.funcionario .padding_fn .func_h1 {
         font-size: 4.5rem;
        text-align: center;
        padding-top: 4rem;
 }

funcionario .grupo_ref_h5 {
         font-size: 1.5rem;
        text-align: center;
        background-color: transparent;
        margin: auto;


funcionario .form-control {
    -- display: block;
    width: 100%;
    padding: 1.5rem 11.0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f5fa;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom:10px var(--bs-body-bg);
    text-align: center;

}

/* Visitante */

.visitante .tabela {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    padding:0.5em;
    background-color: var(--bs-body-bg);
    color:black;
    margin: auto;
}

.visitante .visitante_h1 {
    font-size: 4.5rem;
    text-align: center;
    padding-top: 4rem;
}


/* Relatorio de Refeições */

/* Visitante */

.relat_ref .tabela_ref {
    text-align:center;
    font-family:'open_sansregular';
    font-size:2.5em;
    padding:0.5em;
    background-color: var(--bs-body-bg);
    color:black;
    margin: auto;
}

.visitante .visitante_h1 {
    font-size: 4.5rem;
    text-align: center;
    padding-top: 4rem;
}

.relat_ref .relat_ref_h1 {
         font-size: 4.5rem;
        text-align: center;
        padding-top: 4rem;
 }

.relat_ref .form-control_ref {
    -- display: block;
    width: 100%;
    padding: 1.5rem 11.0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f0f5fa;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom:10px var(--bs-body-bg);
    text-align: center;